<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <form method="POST" action="/plant">
            {% csrf_token %}
            <div>
                <br>
                <p>
                    <h3>Plant Details</h3>
                </p>
                <div>
                    <p>Plant Name : </p> {{ form.name }}
                </div>
                <div>
                    <p>Plant Adress : </p> {{ form.adress }}
                </div>
                <div>
                    <p>Plant type : </p> {{ form.type }}
                </div>
                <div>
                    <p>Plant Location : </p> {{ form.location }}
                </div>
                <div>
                    <p>Plant list gateway : </p> {{ form.list_gateway }}
                </div>
                <div>
                    <p>Plant status : </p> {{ form.status }}
                </div>
                <div>
                    <br>
                    <button type="submit">Submit</button>
                </div>

            </div>


        </form>
    </body>
</html>