<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <form method="POST" action="/updategateway/{{gateway.id}}">
            {% csrf_token %}
            <div>
                <br>
                <p>
                    <h3>Update Gateway</h3>
                </p>
            </div>
            <div>
                <p>
                    Gateway Name: 
                </p>
            </div>
            <div>
            <input type="text" name="gatewayname" value="{{gateway.gatewayname}}"/>
            </div>

            <div>
                <p>
                    Serial Number: 
                </p>
            </div>
            <div>
            <input type="text" name="slavename" value="{{gateway.slavename}}"/>
            </div>

            <div>
                <p>
                    List Device: 
                </p>
            </div>
            <div>
            <input type="text" name="list_devices" value="{{gateway.list_devices}}"/>
            </div>

            

            <div>
                <br>
                <button type="submit">Update</button>
            </div>

        </form>
    </body>