<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Gateway Name</th>
                    <th></th>
                    <th>Device Name</th>
                    <th></th>
                    <th>Serial Number</th>
                    <th></th>
                    <th>Adress</th>
                    <th></th>
                    <th>Baud Rate</th>
                    <th></th>
                    <th>Connection type</th>
                    
                </tr>
            </thead>
            <tbody>

                {% for res in result %}
                <tr>
                    <td>{{res.Gateway_Name}}</td>
                    <td></td>
                    <td>{{res.DeviceName}}</td>
                    <td></td>
                    <td>{{res.slavename}}</td>
                    <td></td>
                    <td>{{res.adress}}</td>
                    <td></td>
                    <td>{{res.baud_rate}}</td>
                    <td></td>
                    <td>{{res.connection_type}}</td>
                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>
        <br>
        <br>
    </body>
</html>