<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Plant Name</th>
                    <th></th>
                    <th>Plant Adress</th>
                    <th></th>
                    <th>Plant type</th>
                    <th></th>
                    <th>Plant Location</th>
                    <th></th>
                    <th>Plant List Gateway</th>
                    <th></th>
                    <th>Plant Status</th>
                    
                    
                
                </tr>
            </thead>
            <tbody>

                {% for plant in plants %}
                <tr>
                    
                    <td>{{plant.name}}</td>
                    <td></td>
                    <td>{{plant.adress}}</td>
                    <td></td>
                    <td>{{plant.type}}</td>
                    <td></td>
                    <td>{{plant.location}}</td>
                    <td></td>
                    <td>{{plant.list_gateway}}</td>
                    <td></td>
                    <td>{{plant.status}}</td>
                    
                   
                    <td>
                        
                        <a href="/edit/{{plant.id}}">Edit</a>
                        <a href="/delete/{{plant.id}}">Delete</a>
                    </td>

                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>
        <br>
        <br>
        <button><a href="/plant">Add new Plant</a></button>
        <button><a href="/showgateway">Show Gateways</a></button> 
        <button><a href="/showdevice">Show Devices</a></button>     
    </body>
</html>