<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <table>
            <thead>
                <tr>

                    <th>Gateway Name</th>
                    <th></th>
                    <th>Serial Number</th>
                    <th></th>
                    <th>Gateway list Device</th>
                    <th></th>
                    
                    
                </tr>
            </thead>
            <tbody>

                {% for gateway in gateways %}
                <tr>
                    
                    <td>{{gateway.gatewayname}}</td>
                    <td></td>
                    <td>{{gateway.slavename}}</td>
                    <td></td>
                    <td>{{gateway.list_devices}}</td>
                    <td></td>
                    <td>
                        <a href="/editgateway/{{gateway.id}}">Edit</a>&nbsp
                        <a href="/deletegateway/{{gateway.id}}">Delete</a>&nbsp
                        <a href="/gatewaysdevice/{{gateway.id}}">Show Devices</a>&nbsp
                    </td>

                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>
        <br>
        <br>
        <button><a href="/gateway">Add new Gateway</a></button>    
    </body>
</html>